<div class="apartments-item">
  <div class="apartments-item__inner">
    <img src="{{imgUrl}}" alt="{{title}}" class="apartments-item__photo">
    <h2 class="apartments-item__title">{{title}}</h2>
    <p class="apartments-item__description">{{descr}}</p>
    <button class="apartments-item__btn btn" data-id={{id}}>Order now</button>
  </div>
</div>